<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
  <section id="pvr.rtlradio" label="-1">

    <category id="device" label="30000">
      <group id="1" label="-1">

        <setting id="device_connection" type="integer" label="30100" help="30500">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30200">0</option>
              <option label="30201">1</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="device_connection_usb_index" parent="device_connection" type="integer" label="30101" help="30501">
          <level>0</level>
          <default>0</default>
          <constraints>
            <minimum>0</minimum>
            <step>1</step>
            <maximum>8</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="device_connection" operator="is">0</dependency>
          </dependencies>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="device_connection_tcp_host" parent="device_connection" type="string" label="30102" help="30502">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="device_connection" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="ip">
            <heading>30102</heading>
          </control>
        </setting>

        <setting id="device_connection_tcp_port" parent="device_connection" type="integer" label="30103" help="30503">
          <level>0</level>
          <default>1234</default>
          <constraints>
            <allowempty>false</allowempty>
            <minimum>0</minimum>
            <maximum>65535</maximum>
          </constraints>
          <dependencies>
            <dependency type="visible" setting="device_connection" operator="is">1</dependency>
          </dependencies>
          <control type="edit" format="integer">
            <heading>30103</heading>
          </control>
        </setting>

        <setting id="device_sample_rate" type="integer" label="30110" help="30510">
          <level>0</level>
          <default>1600000</default>
          <constraints>
            <options>
              <option label="30207">1000000</option>
              <option label="30208">1200000</option>
              <option label="30209">1400000</option>
              <option label="30210">1600000</option>
              <option label="30211">1800000</option>
              <option label="30212">2000000</option>
              <option label="30213">2200000</option>
              <option label="30214">2400000</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="device_frequency_correction" type="integer" label="30108" help="30508">
          <level>0</level>
          <default>0</default>
          <allowempty>false</allowempty>
          <minimum>-1953</minimum>
          <maximum>1953</maximum>
          <control type="edit" format="integer">
            <heading>30108</heading>
          </control>
        </setting>

      </group>
    </category>

    <category id="interface" label="30001">
      <group id="1" label="-1">

        <setting id="interface_prepend_channel_numbers" type="boolean" label="30107" help="30507">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        
      </group>
    </category>
    
    <category id="fmradio" label="30002">
      <group id="1" label="-1">

        <setting id="fmradio_enable_rds" type="boolean" label="30106" help="30506">
          <level>0</level>
          <default>true</default>
          <control type="toggle"/>
        </setting>
        
        <setting id="fmradio_rds_standard" type="integer" parent="fmradio_enable_rds" label="30104" help="30504">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30202">0</option>
              <option label="30203">1</option>
              <option label="30204">2</option>
            </options>
          </constraints>
          <dependencies>
            <dependency type="enable" setting="fmradio_enable_rds">true</dependency>
          </dependencies>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="fmradio_downsample_quality" type="integer" label="30111" help="30511">
          <level>0</level>
          <default>1</default>
          <constraints>
            <options>
              <option label="30216">0</option>
              <option label="30217">1</option>
              <option label="30218">2</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="fmradio_output_samplerate" type="integer" label="30105" help="30505">
          <level>0</level>
          <default>48000</default>
          <constraints>
            <options>
              <option label="30205">44100</option>
              <option label="30206">48000</option>
            </options>
          </constraints>
          <control type="spinner" format="integer"/>
        </setting>

        <setting id="fmradio_output_gain" type="number" label="30109" help="30509">
          <level>0</level>
          <default>-3.0</default>
          <constraints>
            <minimum>-12.0</minimum>
            <step>0.5</step>
            <maximum>0.0</maximum>
          </constraints>
          <control type="slider" format="number">
            <formatlabel>14054</formatlabel>
          </control>
        </setting>

      </group>
    </category>

    <category id="hdradio" label="30003">
      <group id="1" label="-1">

      </group>
    </category>

  </section>
</settings>